# Project exclude paths
/.gradle/
/cglibProxy/build/
/cglibProxy/build/classes/java/main/
/javassistProxy/build/
/javassistProxy/build/classes/java/main/
/jdkProxy/build/
/jdkProxy/build/classes/java/main/